<div class="menus-new-wrapper">
  <div class="container text-white">
　  <div class="display-4 text-center">Menu</div>　      
    <div class="menus-row text-white">
      <u><h3>CUT（シャンプー・スタイリング込）</h3></u>
      <table>
        <tr>
          <td>一般</td><td>¥4,500</td>
        </tr>
         <tr>
          <td>高校生</td><td>¥3,000</td>
        </tr>
         <tr>
          <td>中学生</td><td>¥2,800</td>
        </tr>
         <tr>
          <td>小学生以下</td><td>¥2,500</td>
        </tr>
         <tr>
          <td>一般</td><td>¥4,500</td>
        </tr>  
      </table>
    </div>
    <div class="menus-row text-white">
     <u><h3>COLOR（カット・シャンプー・スタイリング別）</h3></u>
      <table>
        <tr>
          <td>カラーS</td><td>¥4,500</td>
        </tr>
         <tr>
          <td>カラーM</td><td>¥5,000</td>
        </tr>
         <tr>
          <td>カラーL　(LL＋500円)</td><td>¥6,000</td>
        </tr>
         <tr>
          <td>リタッチカラー　(45日以内ご来店)</td><td>¥3,500</td>
        </tr>
      </table>
    </div>  
    <div class="menus-row text-white">
      <u><h3>PERM</h3></u>
      <table>
        <tr>
          <td>ナチュラルパーマ</td><td>¥8,500~</td>
        </tr>
         <tr>
          <td>ピンパーマ</td><td>¥8,500~</td>
        </tr>
         <tr>
          <td>デザインパーマ</td><td>¥10,000~</td>
        </tr>
         <tr>
          <td>デザインコスメパーマ</td><td>¥12,000~</td>
        </tr>
        <tr>
          <td>ストレートパーマ（ニュアンス・パーマ落とし</td><td>¥10,000~</td>
        </tr>
        <tr>
          <td>縮毛矯正</td><td>¥15,000~</td>
        </tr>
      </table>
      <h6>カット・シャンプー・スタイリング込長さ・デザインにより料金が異なります</h6>
    </div> 
    <div class="menus-row text-white">
      <u><h3>TREATMENT（シャンプー・スタイリング別）</h3></u>
      <table>
        <tr>
          <td>トリートメント</td><td>¥1,500~</td>
        </tr>
         <tr>
          <td>クイックスキャルプケア</td><td>¥800</td>
        </tr>
         <tr>
          <td>ヘッドスパ</td><td>¥5,000</td>
        </tr>
      </table>
    </div>  
    <div class="menus-row text-white">
      <u><h3>OTHERS</h3></u>
      <table>
        <tr>
          <td>セット</td><td>¥4,000~</td>
        </tr>
        <tr>
          <td>シャンプー・ブロー</td><td>¥3,000</td>
        </tr>
        <tr>
          <td>シャンプー・ドライ</td><td>¥1,500</td>
        </tr>
      </table>
    </div>
  </div>
</div>