<div class="container top-hero-wrapper">
  <div class="row">
     <div class="card-img col-md-12">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
           <div class="carousel-item active" data-interval="1000">
             <span><%= image_tag "55.png", class:"navbar-img img-fluid" %></span>
           </div>
           <div class="carousel-item" data-interval="1000">
            <span><%= image_tag "22.png", class:"navbar-img img-fluid" %></span>
           </div>
           <div class="carousel-item" data-interval="1000">
            <span><%= image_tag "15.png", class:"navbar-img img-fluid"%></span>
           </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">前へ</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">次へ</span>
          </a>
        </div>
      </div>
    </div>
  <div class="row m-auto">
    <div class="card">
      <div class="card-img col-md-12 img-fluid"><%= image_tag "11.png", class:"card-phote img-fluid"%>
       <div class="card-img-overlay">
        <p class="col-md-8 offset-md-4-fluid">
        <h3>〜ヘアースタイルを通して毎日をより輝やく毎日へ〜</h3>
                      <h4>HALOandvivo とは？</h4>
                      <br>
                        後光・光輪・光
                        <br>　
           <br>
          HALOから光が溢れ出し、あなたをそっと照らし続けられる場所
          <br>
               朝、学校・仕事にいく前、デートや大切な人と会う時<br>
               <br>
                  ヘアースタイルがキレイでバッチリ決まったら<br>
                   自分に自信がつき、１日の始まりが素敵になる。<br>
               <br>
                気分が変わる事で見るもの・聴くもの・感じるものが<br>
                    よりキラキラと輝き毎日が楽しくなる。<br>
                   <br>
            HALOはヘアースアイルにはそんな力があると信じています。
            <br>
            お客様が、何を望んでいるのか、どんな自分になりたいのか<br>
            真剣に耳を傾け技術・サービスを全力でご提供していきます。<br>
        </p>
       </div> 
      </div> 
    </div>
    
  </div>
</div> 