<div class="container top-hero-wrapper">
  <div class="row">
     <div class="card-img col-md-12">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
           <div class="carousel-item active" data-interval="50">
             <span><%= image_tag "02.png", class:"navbar-img img-fluid" %></span>
           </div>
           <div class="carousel-item " data-interval="50">
             <span><%= image_tag "55.png", class:"navbar-img img-fluid" %></span>
           </div>
           <div class="carousel-item" data-interval="50">
            <span><%= image_tag "22.png", class:"navbar-img img-fluid" %></span>
           </div>
           <div class="carousel-item" data-interval="50">
            <span><%= image_tag "15.png", class:"navbar-img img-fluid"%></span>
           </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">前へ</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">次へ</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> 