<div class="news-new-wrapper">
  <div class="container text-white">
     <div class="display-4 text-center">News</div>
    <div class="row">
     <div class=col-md-5>
       <h1>只今作成中</h1>
     </div>   
    </div>
  </div>
</div>