<div class="accesses-new-wrapper">
  <div class="container  text-white">
     <div class="display-4 text-center">Access</div>
    <div class="accesses-row col-md-6 offset-md-3 text-center">
        <small>〒480-0146<br>
               愛知県丹羽郡大口町余野3-103<br>
               メゾンミズノ101<br>
               TEL 0587-96-9086<br>
               <br>
               自転車置き場・駐車場完備
               道路沿いに看板があります。
        </small>
    </div>
    <div class="map-row col-md-6 offset-md-3">
      <div class="embed-responsive embed-responsive-4by3">
       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6508.710260811267!2d136.914154!3d35.346832!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60030c106ee9ac5d%3A0xa7f9e6cb495582ae!2z77yo77yh77ys77yv772B772O772E44O7772W772J772W772P!5e0!3m2!1sja!2sjp!4v1588941855439!5m2!1sja!2sjp" 
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>          
      </div>
    </div>  
  </div>
</div>    