<div class="concepts-new-wrapper">
  <div class="container">
    <div class="concept-row">
     <div class="card">
      <h3>Concept</h3> 
       <%= image_tag "11.png", class:"card-phote img-fluid"%>
        <div class="card-img-overlay  col-md-7 offset-md-3 text-md-center">
          <h4> 〜ヘアースタイルを通して毎日をより輝やく毎日へ〜</h4>
          <h6>HALOandvivo とは？</h6>
          <br>
              後光・光輪・光
          <br>　
          <br>
              HALOから光が溢れ出し、あなたをそっと照らし続けられる場所
          <br>
              朝、学校・仕事にいく前、デートや大切な人と会う時<br>
          <br>
              ヘアースタイルがキレイでバッチリ決まったら<br>
              自分に自信がつき、１日の始まりが素敵になる。<br>
          <br>
              気分が変わる事で見るもの・聴くもの・感じるものが<br>
              よりキラキラと輝き毎日が楽しくなる。<br>
            <br>
              HALOはヘアースアイルにはそんな力があると信じています。
            <br>
              お客様が、何を望んでいるのか、どんな自分になりたいのか<br>
              真剣に耳を傾け技術・サービスを全力でご提供していきます。<br>
        </div>
      </div> 
    </div>
  </div>
</div>
    