<div class="recruits-new-wrapper">
  <div class="container text-white">
     <div class="display-4 text-center">Recruit</div>
    <div class="row recruits-row ">
        <div class="col-md-6">
          <%= image_tag "22.png", class:"recruits-phote img-fluid "%>
        </div>
        <div class="recruits  col-md-6 text-center">
         <h2>只今、募集はしておりません</h2>  
         <h3>お問い合わせ</h3>
          <small>HALO andvivo<br>
                 tel 0587-96-9086<br>
                 担当　イノウエ
          </small>
        </div> 
    </div>
  </div>
</div>