body{
 background-image: image-url("stone_001.jpg");
 background-repeat: no-repeat;
}

.navbar-brand img {
  width: 20%;
  vertical-align: bottom;
}

.navbar-img.img-fluid{
    height: 500px;
    width: 100%;
    margin-top: 65px;
    border: outset 20px #ffff;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}


.header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}

.header nav ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header nav ul li {
   margin-right: 50px;
}

.footer {
   width: 100%;
   
}

.footer-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}

.footer nav ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer nav ul li {
   margin-right: 50px;
}

.footer-navbar-brand{
    width: 10%;
    vertical-align: bottom;
}

.navbar-toggler {
   background-color: #e8b51a87;
} 
.card{
  margin-top: 100px;
  border: outset 20px #ffff;
  background-color: #ffffff59;
}
.card-img-overlay{
  top: calc(0% - 0.5rem);
  text-align: center;
  font-weight: bold;
  color: #cebd2c;
  text-shadow: 2px 2px 0px #0a0a0a;
  padding-top: 30px;
  
  
}
.card-phote.img-fluid {
    max-width: 50%;
    height: auto;
    background-color: white;
    
}

.text-white{
    font-size: 20px;
    text-shadow: 8px 7px 7px #101010;
}

.concept-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;    
  margin-left: -15px;
  height: 600px;
  
}
