body, html{
 padding: 0;
 margin: 0;
 height: 100%;
 background-image: image-url("stone_001.jpg");
 background-repeat: no-repeat;
}

    
.navbar-brand img {
  width: 20%;
  vertical-align: bottom;
}

.navbar-img.img-fluid{
    height: 500px;
    width: 100%;
    margin-top: 65px;
    border: outset 20px #ffff;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}


.header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}

.header nav ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header nav ul li {
   margin-right: 50px;
}

.footer {
   width: 100%;
   height: 100%;
   bottom: 0;
   position: absolute;
   
}

.footer-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}

.footer nav ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer nav ul li {
   margin-right: 50px;
}

.footer-navbar-brand{
    width: 10%;
    vertical-align: bottom;
}

.navbar-toggler {
   background-color: #e8b51a87;
} 

.card-img-overlay{
  padding-top: 30px;
}

.concepts.text-md-center{
    margin-top: 100px;
    background-color: #0c0c0c94;
}
.concepts-row{
  background-color: #0c0c0c94;
  padding: 10px;
}

  
  
.card-phote.img-fluid {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
     border: outset 20px #ffff;
}

.text-white{
    font-size: 20px;
    text-shadow: 8px 7px 7px #101010;
}



table {
    width: 100%;
    border-collapse: separate;
}

.menus-row{
  background-color: #0c0c0c94;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row.accesses{
  margin-top: 70px;
  background-color: #0c0c0c94;
}
.adress{
  padding-top: 30px;    
}


   
